.confidentiality {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
    &__wrapper {
        position: relative;
        width: 700px;
        height: 350px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: url('../img/overloy_bg.png') center center/cover no-repeat;
        padding: 35px 0 63px 53px;
    }
    &__close {
        top: 5px;
        right: 22px;
        color: #4D4D4D;
    }
    &__text {
        width: 500px;
    }
}