.promo {
min-height: 850px;

    &__wrapper {
        position: relative;
        height: 850px;
        width: 1600px;
        margin: 0 auto;
        background-color: #F8F1E3;

        img {
            position: absolute;
            right: 0;
            z-index: 0;
        }
    }

    &__line {
        &_top {
            position: absolute;
            z-index: 5;
            border: 3px solid $white;
            width: 1400px;
            top: 99px;
            left: 93px;
            background-color: $white;
        }
        &_right {
            position: absolute;
            z-index: 5;
            border: 3px solid $white;
            height: 650px;
            top: 99px;
            right: 107px;
            background-color: $white;
        }
        &_bottom {
            position: absolute;
            z-index: 5;
            border: 3px solid $white;
            width: 1400px;
            bottom: 99px;
            left: 93px;
            background-color: $white;
        }
        &_left {
            position: absolute;
            z-index: 5;
            border: 3px solid $white;
            height: 650px;
            top: 99px;
            left: 93px;
            background-color: $white;
        }
    }
    &__consultation {
        position: absolute;
        width: 455px;
        height: 400px;
        top: 200px;
        left: 200px;
        &-title {
            font-size: 60px;
            line-height: 72px;
            font-weight: 700;
        }
        &-subtitle {
            margin-top: 30px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
        }
        &-btn {
            margin-top: 70px;
            width: 289px;
            height: 62px;
            
        }
    }

}