.promo {
min-height: 850px;

    &__wrapper {
        position: relative;
        height: 850px;
        width: auto;
        margin: 0 auto;
        background-color: #F8F1E3;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__border {
        position: absolute;
        border: 6px solid $white;
        z-index: 0;
        width: 85%;
        height: 85%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    
    &__consultation {
        position: absolute;
        width: 455px;
        height: 400px;
        top: 200px;
        left: 200px;
        &-title {
            font-size: 50px;
            line-height: 62px;
            font-weight: 700;
        }
        &-subtitle {
            margin-top: 30px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
        }
        &-btn {
            margin-top: 70px;
            width: 289px;
            height: 62px;
            
        }
    }

}