* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.btn {
    width: 189px;
    height: 55px;
    border-radius: 15px;
    background-color: $pink;
    border: none;
    font-size: 17px;
    color: $white;
    cursor: pointer; 
    transition: 0.5s all;
        &:hover {
            transform: scale(110%);
        }
}

.close {
    position: absolute;
    color: red;
    top: -3px;
    right: 13px;
    font-size: 60px;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 15;
    &:hover {
        transform: scale(120%);
    }
}

.divider {
    width: 345px;
    height: 0px;
    border: 1px solid rgba(77, 77, 77, 0.7);
    margin-top: 31px;
}