@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext');
@import './variables/variables';
@import './base.scss';

@import 'blocks/menu';
@import 'blocks/promo';
@import 'blocks/catalog';
@import 'blocks/overlay';
@import 'blocks/advantage';
@import 'blocks/sidepanel';
@import 'blocks/showing';
@import 'blocks/footer';
@import 'blocks/consultation';
@import 'blocks/delivery';
@import 'blocks/confidentiality';
@import 'blocks/contract';
@import 'blocks/purchase';